.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  
    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      object-fit: cover;
    }
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  